__pycache__/
adv_imgs/
adv_targeted.png
adv_targeted_up.png
aligned_imgs/
api_out.log
api_err.log
api_eval_log.txt
api_results/
adv_VGG.png
env/
venv/
faceoff.egg-info/
target_loss/
aligned_large/
fileio/
new_adv_imgs/
old_api_results/
